language: java

sudo: false

dist: trusty

jdk:
  - oraclejdk8
  - oraclejdk9
  - openjdk7
  - openjdk8
  - openjdk11

branches:
  only:
    - master

notifications:
  email:
    recipients:
      - dennis.detering@rub.de
